@charset "utf-8";
compilerinfo, sourcetext {
  display: block;
  white-space: pre;
  font-family: Monospace;
  font-size: 0.8em;
}
compilerinfo {
  white-space: normal;
  border: 1px solid #A22;
  padding: 0.5em;
  margin: 1em;
}
compilerinfo error { display: block; }
n { color: teal; }
k { color: darkblue; font-weight: bold; }
c[c=lc], c[c=bc] { color: green; }
c[c=nc] { color: darkgreen; }
i { color: black; }
sl { color: red; }
cl { color: purple; }
op { color: royalblue; }
br { color: orange; }
op[c=aa] { content: "and"; } /*&& ∧*/
op[c=oo] { content: "or"; } /*|| ∨*/
op[c=n] { content: "¬"; } /*!*/
op[c=ne] { content: "≠"; } /*!=*/
op[c=le] { content: "≤"; } /*<=*/
op[c=ge] { content: "≥"; } /*>=*/
op[c=lg] { content: "≶"; } /*<>*/
