@charset "utf-8";
compilerinfo, sourcetext {
  display: block;
  white-space: pre;
  font-family: Monospace;
  font-size: 0.8em;
}
compilerinfo {
  white-space: normal;
  border: 1px solid #A22;
  padding: 0.5em;
  margin: 1em;
}
compilerinfo error { display: block; }
/* Number */
n { color: teal; }
/* Keyword */
k { color: darkblue; font-weight: bold; }
/* Line and block comments */
c[c=l], c[c=b] { color: green; }
/* Nested comments */
c[c=n] { color: darkgreen; }
/* Identifier */
i { color: black; }
/* String literal */
sl { color: red; }
/* Character literal */
cl { color: purple; }
/* Operator */
op { color: royalblue; }
/* All bracket types */
br { color: orange; }
/* Special tokens */
st { color: green; font-weight: bold; }
/* When the first line starts with #! it's a "shebang" */
shebang { color: gray; }
/* Particular operators */
op[c=aa] { content: "and"; } /*&& ∧*/
op[c=oo] { content: "or"; } /*|| ∨*/
op[c=n] { content: "¬"; } /*!*/
op[c=ne] { content: "≠"; } /*!=*/
op[c=le] { content: "≤"; } /*<=*/
op[c=ge] { content: "≥"; } /*>=*/
op[c=lg] { content: "≶"; } /*<>*/
