@charset "utf-8";
.compilerinfo, .sourcecode, .linescolumn {
  white-space: pre;
  font-family: Monospace;
  font-size: 0.8em;
}
.compilerinfo, .sourcecode {
  display: block;
}
.compilerinfo {
  white-space: normal;
  border: 1px solid #A22;
  padding: 0.5em;
  margin: 1em;
}
.compilerinfo .error { display: block; }
.linescolumn {
  float: left;
  text-align: right;
  margin-right: 0.2em;
  border-right: 1px solid gray;
}
.linescolumn a { display: block; }
/* Number */
.n { color: teal; }
/* Keyword */
.k { color: darkblue; font-weight: bold; }
/* Line, block and nested comments */
.lc, .bc, .nc { color: green; }
/* Identifier */
.i { color: black; }
/* String literal */
.sl { color: red; }
/* Character literal */
.cl { color: purple; }
/* All bracket types */
.br { color: orange; }
/* Special tokens */
.st { color: green; font-weight: bold; }
/* #line, hash line */
.hl { color: green; }
/* filespec (e.g. #line number [filespec]) */
.fs { color: purple;}
/* When the first line starts with #! it's a "shebang" */
.shebang { color: gray; }
/* Operator */
/*.op { color: royalblue; }*/
/* Particular operators */
/*.opaa { content: "and"; }*/ /*&& ∧*/
/*.opoo { content: "or"; }*/ /*|| ∨*/
/*.opn { content: "¬"; }*/ /*!*/
/*.opne { content: "≠"; }*/ /*!=*/
/*.ople { content: "≤"; }*/ /*<=*/
/*.opge { content: "≥"; }*/ /*>=*/
/*.oplg { content: "≶"; }*/ /*<>*/
/*
d = Declaration
s = Statement
e = Expression
t = Type
o = Other
*/
/* .d { background-color: #FFDDDD; } */
/* .e { background-color: #DDDDFF; } */
.d.Module .i, .d.Import .i { color: blue; }
.t .i, .TemplateTypeParameter .i { color: #911; }
.t .br, .t .op { color: #911; }
.t .k { color: #911; font-weight: normal; }
