body { margin: 0; }

#content {
  margin: 0.5em;
  margin-left: 215px;
}
#footer {
  margin: 0.5em;
  margin-left: 215px;
  font-size: 0.9em;
}

#navbar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#panels {
  margin-left: 0.5em;
  border: 2px outset DarkGreen;
  border-left: none;
  border-bottom: none;
  height: 1px;
  min-height: 92%;
  font-size: 0.95em;
  overflow: auto;
  background-color: #EFE;
}

#panels ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
  list-style: none;
}

#panels div > ul {
  margin: 0.5em;
   padding: 0;
}

#navbar ul a {
  text-decoration: none;
  color: black;
}

#navtabs {
  margin: 0.5em 0em 0em 0.5em;
  text-align: center;
}

#navtabs span {
  margin: 0.1em;
  padding: 0.2em;
  padding-bottom: 0;
  border: 1px outset Green;
  border-bottom: none;
  color: Gray;
  background-color: #EFE;
  white-space: nowrap;
  cursor: pointer;
}

#navtabs span.current, #navtabs span:hover {
  padding-bottom: 2px;
  color: GhostWhite;
  background-color: #474;
}

.sec_header {
  font-weight: bold;
  margin: 0.5em 0;
}

dt {
  font-size: 1em;
  font-weight: bold;
  position: relative; /* for .symlink */
}

dd {
  margin: 0.5em 2.5em;
  margin-right: 0;
}

dt .symlink {
  display: none;
}

dt:hover .symlink, .symlink:focus {
  display: inline;
}

.symlink {
  position: absolute;
  right: 0;
  padding: 0em 0.2em;
  text-decoration: none;
  color: DarkRed;
}

.symbol {
  color: ForestGreen;
  text-decoration: none;
}

.summary {
  margin: 0.5em 0;
}

.params em {
  font-weight: normal;
  color: OliveDrab;
}

.attrs {
  font-size: 0.8em;
}

table.params td {
  vertical-align: top;
}

table.params td:first-child {
  padding-right: 0.2em;
  text-align: right;
}

.ajaxerror {
  color: DarkRed;
}

/* Code formatting */
pre.d_code {
  padding: 0.2em;
  border: 1px solid gray;
}

.loaded_code {
  margin: 0.5em 2.5em;
  border: 1px solid gray;
  max-height: 300px;
  overflow: auto;
}

.loaded_code pre.d_code {
  margin: 0;
  border: none;
}

.loaded_code td {
 vertical-align: top;
 margin: 0;
 padding: 0;
}

.loaded_code table {
  border-spacing: 0;
  border-collapse: collapse;
}

.loaded_code td.lines {
  text-align: right;
  background-color: #F5F5F5;
}

.loaded_code .lines_column {
  margin: 0;
  padding: 0.2em 0.2em;
  border-right: 1px dotted gray;
}

.loaded_code .lines_column a {
  color: DimGray;
  text-decoration: none;
}

.loaded_code .lines_column a:hover {
  text-decoration: underline;
}

/* Number */
.d_code .n { color: teal; }
/* Keyword */
.d_code .k { color: darkblue; font-weight: bold; }
/* Line, block and nested comments */
.d_code .lc, .bc, .nc { color: gray; }
/* Identifier */
.d_code .i { color: black; }
/* String literal */
.d_code .sl { color: red; }
/* Character literal */
.d_code .cl { color: purple; }
/* Special tokens */
.d_code .st { color: green; font-weight: bold; }
/* #line, hash line */
.d_code .hl { color: green; }
/* filespec (e.g. #line number [filespec]) */
.d_code .fs { color: purple;}
/* When the first line starts with "#!" it's a "shebang" */
.d_code .shebang { color: gray; }

.d_code .d.Module .i, .d_code .d.Import .i { color: blue; }
.d_code .t.Identifier .i, .d_code .TemplateTypeParameter .i { color: DarkRed; }
.d_code .t .k { color: DarkRed; font-weight: normal; }

.d_code .d > .i { color: ForestGreen; }
.d_code .o.Parameter > .i { color: OliveDrab; font-style: italic; }
